.App {
  background-color: #3f0080;
}

.card {
  background-color: #cd3232cc;
  box-shadow: 1px 1px 12px 6px rgba(255, 255, 255, 0.75);
}

.pointerClass {
  cursor: pointer;
}

.strength {
  width: 100%;
  height: 20px;
  opacity: 0.85;
}

.strength span {
  color: #fff;
}

@media screen and (max-width: 450px) {
  .input-box span:first-child {
    display: none;
  }
}